# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: c5956712a60e1516543b7765a8f0eb1fe17e3890969ae0f057544e20059748b36efc710e75a613f68b5d0e79f0b675e45bd1ae6204751271900941434eb8a2c6

test:
  secret_key_base: 78762c497c133256fb1056e4053c644a48f86005950626cb982cf70a2909987a4079461455b2ea7ec293ac1e2665e8c6fc9e3184faaba7bc400b9b7c1271dab5

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
